@charset "UTF-8";
/* page de la landing Page */
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.hidden {
  display: none;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.photographer_section article a img {
  height: 200px;
  width: 200px;
  border-radius: 106px;
  object-fit: cover;
}
.photographer_section article dl {
  text-align: center;
}
.photographer_section article dl dt {
  color: #D3573C;
  font-size: 36px;
}
.photographer_section article dl dd:nth-child(4) {
  color: gray;
}

/* Page Photogrqpher */
#contact_modal {
  display: none;
}

/* Bannière Principale de profil du Photographe */
.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-around;
}
.photograph-header article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photograph-header article dl {
  line-height: 43px;
}
.photograph-header article dl dt {
  color: #D3573C;
  font-size: 57px;
}
.photograph-header article dl dd {
  margin-inline-start: 0px;
  font-size: 18px;
}
.photograph-header article dl dd:nth-child(2) {
  color: #901C1C;
  font-size: 25px;
}
.photograph-header .blockFormulaire {
  display: flex;
  align-items: center;
  margin: 40px;
}
.photograph-header .blockPortrait {
  display: flex;
  align-items: center;
  margin: 40px;
}
.photograph-header .blockPortrait img {
  height: 200px;
  width: 200px;
  border-radius: 106px;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  position: fixed;
  box-shadow: -2px 3px 20px gray;
  z-index: 1;
  border-radius: 5px;
  background-color: #DB8876;
  width: 36%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  top: 201px;
  left: 30%;
}

.close_bouton {
  background-color: transparent;
  border: none;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 38px;
  font-weight: normal;
}

/* Galerie média du Photographe */
#gallery-media {
  margin: 0 100px;
  font-size: 20px;
}
#gallery-media div {
  margin-top: 28px;
}
#gallery-media div label {
  font-weight: bold;
}
#gallery-media div select {
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
  background: #901C1C;
  color: white;
  font-size: 20px;
  margin-left: 10px;
  height: 53px;
}
#gallery-media section {
  margin-bottom: 100px;
}
#gallery-media section > h2 {
  display: none;
}
#gallery-media section .wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#gallery-media section .wrapper article {
  margin-left: 80px;
  margin-bottom: 25px;
  width: 380px;
}
#gallery-media section .wrapper article img {
  height: 380px;
  width: 380px;
  object-fit: cover;
  border-radius: 5px;
}
#gallery-media section .wrapper article .videoMedia {
  display: block;
  width: 380px;
  height: 380px;
  object-fit: cover;
  border-radius: 5px;
  background-color: #dedede;
  overflow: hidden;
}
#gallery-media section .wrapper article .textuel {
  display: flex;
  justify-content: space-between;
  color: #901c1c;
  margin-top: 5px;
}
#gallery-media section .wrapper article .textuel button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #901c1c;
}
#gallery-media section .wrapper article .textuel button strong {
  padding-top: 15px;
  position: relative;
  font-size: 22px;
  margin-right: 7px;
}
#gallery-media section .wrapper article .textuel h2 {
  margin: 0.5rem 0;
  padding-right: 0.5rem;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  font-weight: lighter;
  white-space: nowrap;
  font-size: 17px;
}

/* Fomulaire de contact */
#contact_modal form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
#contact_modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
#contact_modal form div label {
  color: #312E2E;
  font-size: 36px;
}
#contact_modal form div input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 50px;
}
#contact_modal form div .message {
  font-size: 35px;
  resize: none;
  width: 100%;
}

/* Encart de la somme des likes et Tarifs */
#ticket {
  align-items: center;
  background: #db8876;
  border-radius: 0.3125rem;
  bottom: 0;
  display: flex;
  font-size: 1.2em;
  font-weight: 500;
  height: 4.375rem;
  justify-content: space-between;
  padding: 0 2.1875rem;
  position: fixed;
  right: 2.5rem;
  width: 18rem;
}
#ticket .fa-heart {
  left: 4.8rem;
  position: absolute;
}

/* modal lightBox */
.lightBox {
  visibility: collapse;
  position: fixed;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 3;
  opacity: 0.97;
  display: grid;
  place-items: center;
}
.lightBox .wrapper {
  height: 84vh;
  width: 84vh;
}
.lightBox .wrapper .close {
  color: #901C1C;
  background-color: transparent;
  border: none;
  position: absolute;
  font-size: 2.5rem;
  top: 0.25rem;
  right: 1.1rem;
  cursor: pointer;
}
.lightBox .wrapper .left {
  position: absolute;
  left: 1rem;
  top: 50%;
  font-size: 3rem;
  color: rgba(144, 28, 28, 0.9);
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease-in;
  border: none;
  display: flex;
}
.lightBox .wrapper .right {
  position: absolute;
  right: 1rem;
  top: 50%;
  font-size: 3rem;
  color: rgba(144, 28, 28, 0.8);
  cursor: pointer;
  transition: all 0.2s ease-in;
  border: none;
  display: flex;
  background-color: transparent;
}
.lightBox .wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lightBox .wrapper .container img {
  width: 60%;
  object-fit: cover;
  border-radius: 16px;
}
.lightBox .wrapper .container .videoMedia {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50rem;
  border-radius: 0.25rem;
}
.lightBox .wrapper .container .textuel {
  align-items: center;
}
.lightBox .wrapper .container .textuel h2 {
  color: #901c1c;
  font-size: 17px;
}

/*modal light box*/
/*
.lightbox {
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(219,219,219,.7);

    .lightbox-windows {
        color: #901c1c;
        width: 100%;
        height: 100%;
        position: relative;

        .commandes {
            top: 0px;
            width: 100%;
            height: 100%;
            position: absolute;

            .left, .right {
                position: absolute;
                width: 60px;
                height: 100px;
                background-color: transparent;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
    }
} */

/*# sourceMappingURL=styles.css.map */
