/* page de la landing Page */
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.hidden {
  display: none;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.photographer_section a article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section a article dl {
  text-align: center;
}
.photographer_section a article dl dt {
  color: #D3573C;
  font-size: 36px;
}
.photographer_section a article dl dd:nth-child(4) {
  color: gray;
}
.photographer_section a article img {
  height: 200px;
  width: 200px;
  border-radius: 106px;
  object-fit: cover;
}

/* Page Photogrqpher */
#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-around;
}
.photograph-header article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photograph-header article dl {
  line-height: 43px;
}
.photograph-header article dl dt {
  color: #D3573C;
  font-size: 57px;
}
.photograph-header article dl dd {
  margin-inline-start: 0px;
  font-size: 18px;
}
.photograph-header article dl dd:nth-child(2) {
  color: #901C1C;
  font-size: 25px;
}
.photograph-header .blockFormulaire {
  display: flex;
  align-items: center;
  margin: 40px;
}
.photograph-header .blockPortrait {
  display: flex;
  align-items: center;
  margin: 40px;
}
.photograph-header .blockPortrait img {
  height: 200px;
  width: 200px;
  border-radius: 106px;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  border-radius: 5px;
  background-color: #DB8876;
  width: 36%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  top: 201px;
  left: 30%;
}

.close_bouton {
  background-color: transparent;
  border: none;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 38px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

.message {
  font-size: 35px;
  resize: none;
  width: 100%;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 50px;
}

#ticket {
  align-items: center;
  background: #db8876;
  border-radius: 0.3125rem;
  bottom: 0;
  display: flex;
  font-size: 1.2em;
  font-weight: 500;
  height: 4.375rem;
  justify-content: space-between;
  padding: 0 2.1875rem;
  position: fixed;
  right: 2.5rem;
  width: 18rem;
}

/*# sourceMappingURL=styles.css.map */
