/* Page Photogrqpher */

#contact_modal {
    display: none;
}

/* Bannière Principale de profil du Photographe */
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;

    article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        dl {
            line-height: 43px;

            dt {
                color: #D3573C;
                font-size: 57px;
            }
            dd {
                margin-inline-start: 0px;
                font-size: 18px; 
            }
            dd:nth-child(2) { 
                color: #901C1C;
                font-size: 25px;
            }
        }
    }

    .blockFormulaire {
        display: flex;
        align-items: center;
        margin: 40px;
    }
    .blockPortrait {
        display: flex;
        align-items: center;
        margin: 40px;

        @include thumbnails;
    }
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    box-shadow: -2px 3px 20px gray;
    z-index: 1;
    border-radius: 5px;
    background-color: #DB8876;
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    top: 201px;
    left:30%;

}

.close_bouton {
    background-color: transparent;
    border: none;
}
.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 38px;
    font-weight: normal;
}

/* Galerie média du Photographe */
#gallery-media {

    $fontSizeDef :20px;
    margin: 0 100px;
    font-size: $fontSizeDef;

    div {
        margin-top: 28px;
        
        label {
            font-weight: bold;
        }
        select {
            box-shadow: inset 1px 1px 3px #ccc;
            border-radius: 5px;
            background: #901C1C;
            color: white;
            font-size: $fontSizeDef;
            margin-left: 10px;
            height: 53px;
        }
    }

    section {
        margin-bottom: 100px;
         > h2 {
            display: none;
        }
        .wrapper {
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            article {
                $dim : 380px;
                margin-left: 80px;
                margin-bottom: 25px;
                width: $dim;
                
                img {
                    height: $dim;
                    width: $dim;
                    object-fit: cover;
                    border-radius: 5px;
                }
                .videoMedia {

                    display: block;
                    width: $dim;
                    height: $dim;
                    object-fit: cover;
                    border-radius: 5px;
                    background-color: #dedede;
                    overflow: hidden;
                }
                
                .textuel {
                    display: flex;
                    justify-content: space-between;
                    color: #901c1c;
                    margin-top: 5px;

                   button {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    color: #901c1c;

                    strong {
                        padding-top: 15px;
                        position: relative;
                        font-size: 22px;
                        margin-right: 7px;
                     }
                   }

                    h2 {
                        margin: 0.5rem 0;
                        padding-right: 0.5rem;
                        overflow: hidden;
                        text-align: left;
                        text-overflow: ellipsis;
                        font-weight: lighter;
                        white-space: nowrap;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

/* Fomulaire de contact */
#contact_modal {

    form {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    
        div {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: self-start;
            margin-bottom: 26px;
    
            label {
                color: #312E2E;
                font-size: 36px;
            }
    
            input {
                width: 100%;
                height: 68px;
                border: none;
                border-radius: 5px;
                font-size: 50px;
            }
    
            .message {
                font-size: 35px;
                resize : none;
                width: 100%;
            }
        }
    }

    
}

/* Encart de la somme des likes et Tarifs */
#ticket {
    align-items: center;
    background: #db8876;
    border-radius: 0.3125rem;
    bottom: 0;
    display: flex;
    font-size: 1.2em;
    font-weight: 500;
    height: 4.375rem;
    justify-content: space-between;
    padding: 0 2.1875rem;
    position: fixed;
    right: 2.5rem;
    width: 18rem;

    .fa-heart {
        left: 4.8rem;
        position: absolute;
    }
}

/* modal lightBox */
.lightBox {
    visibility: collapse;
    position: fixed;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    inset:0;
    z-index: 3;
    opacity: 0.97;
    display: grid;
    place-items: center;

    .wrapper {
        
        height: 84vh;
        width: 84vh;
        .close {
            color: #901C1C;
            background-color: transparent;
            border: none;
            position: absolute;
            font-size: 2.5rem;
            top: 0.25rem;
            right: 1.1rem;
            cursor: pointer;
        }
        .left{
            position: absolute;
            left: 1rem;
            top: 50%;
            font-size: 3rem;
            color: rgba(144, 28, 28, 0.9);
            cursor: pointer;
            background-color: transparent;
            transition: all 0.2s ease-in;
            border: none;
            display: flex;
        }
        .right {
            position: absolute;
            right: 1rem;
            top: 50%;
            font-size: 3rem;
            color: rgba(144, 28, 28, 0.8);
            cursor: pointer;
            transition: all 0.2s ease-in;
            border: none;
            display: flex;
            background-color: transparent;
        }
        .container {
            display:flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 60%;
                object-fit: cover;
                border-radius: 16px;
            }
            .videoMedia {
            width: 100%;
            display: flex;
            align-items: center;
            height: 50rem;
            border-radius: 0.25rem;
            }
            .textuel {
                align-items: center;
                h2 {
                    color: #901c1c;
                    font-size: 17px;
                }
            }
        }
    }
}